Package: com.adong.dockviewtweak
Name: DockViewTweak
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: adong
Author: adong
Section: Tweaks
Version: 1.0.1-103+debug
Installed-Size: 376
